QPushButton
{
  border: 2px solid lightgray;
  border-radius: 6;
  font-size: 12px;
}
QPushButton:hover
{
  border: 2px solid LightCyan;
  border-radius: 6;
}
QLineEdit
{
  border-style: solid;
  border: 2px solid lightgray;
  border-radius: 6;
  background-color: lightgray;
}
QLineEdit:hover
{
  background-color: AliceBlue;
}
QTreeView
{
  border:  2px solid lightgray;
  border-radius: 6;
}
QCheckBox::indicator:hover
{
    border: 1px solid LightCyan;
    border-radius: 6px;
}
